package internal

import (
	"context"

	"{{.ProjectURL}}/internal/dbx"
)

type UserService interface {
	Register(ctx context.Context, name string, email string, password string, passwordConfirmation string) (dbx.User, error)
	Login(ctx context.Context, c echo.Context, email string, password string) (dbx.User, error)
}
