package view

templ Layout(version string, title string, csrfToken string, content templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<meta name="csrf-token" content={ csrfToken }/>
      <meta name="version" content="{%s version %}">
			<title>{ title }</title>
		</head>
		<body>
			@content
		</body>
	</html>
}
